@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.article {
  display: flex;
  flex-direction: column;
  border: 0.5px solid black;
  align-content: center;
  text-align: center;
  max-width: 700px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 60px;
  background-color: whitesmoke;
  border-radius: 12px;
}

.article-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.article-title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
}

.article-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.article-body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.article-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.article-button {
  display: flex;
  gap: 20px;
  padding-left: 20px;
}

.comment {
  display: flex;
  flex-direction: column;
  border: 0.4px solid black;
  align-content: center;
  text-align: center;
  max-width: 700px;
  margin: auto;
  margin-bottom: 20px;
  background-color: whitesmoke;
  border-radius: 12px;
}

.comment-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.comment-body {
  display: flex;

  justify-content: center;
  align-items: center;
  padding: 30px;
}

.comment-footer {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.create label {
  text-align: left;
  display: block;
}

.create h2 {
  font-size: 20px;
  color: red;
  margin-bottom: 30px;
}

.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid wheat;
  box-sizing: border-box;
}

.create button {
  background: red;
  color: whitesmoke;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
